<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>toolBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E65860FA1CFBD5AF0078FDDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65861131CFBD5AF0078FDDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E658611E1CFBD5AF0078FDDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
